prometheus.scrape "ping_agent" {
  targets = [{
    __address__ = "iyup-ping-agent.fly.dev",
  }]
  scheme = "https"
  metrics_path = "/metrics"

  forward_to = [prometheus.remote_write.metrics_hosted_prometheus.receiver]
}

prometheus.remote_write "metrics_hosted_prometheus" {
  endpoint {
    name = "hosted-prometheus"
    url  = "https://prometheus-prod-52-prod-ap-southeast-2.grafana.net/api/prom/push"

    basic_auth {
      username = "YOUR_USERNAME"
      password = "YOUR_API_KEY"
    }
  }
}
