apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 1m
      smtp_smarthost: "${SMTP_SMARTHOST}"
      smtp_from: "${SMTP_FROM}"
      smtp_auth_username: "${SMTP_USERNAME}"
      smtp_auth_password: "${SMTP_PASSWORD}"
      smtp_require_tls: true

    route:
      receiver: "email"
      routes:
        - receiver: "stdout"

    receivers:
      - name: "email"
        email_configs:
          - to: "${SMTP_TO}"
            send_resolved: true
      - name: "stdout"
        webhook_configs:
          - url: "http://alert-logger:8080/"
