apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "uptimepulse.fullname" . }}-prometheus-alert-rules
  labels:
    {{- include "uptimepulse.labels" . | nindent 4 }}
data:
  alert.rules.yml: |
    groups:
      - name: ping-agent.rules
        rules:
          - alert: TargetDown
            expr: increase(ping_failure_total[1m]) > 2
            for: 1m
            labels:
              severity: critical
            annotations:
              summary: "Target down"
